.navbar {
    border-top: .2px solid #fff;
}

.dashboard {
    font-size: 1.2rem;
    font-weight: 600;
}

.dashboard-section {
    background: -webkit-gradient(linear,left bottom,left top,from(#010101),color-stop(25%,rgba(1,1,1,0))),url(https://res.cloudinary.com/torre-technologies-co/image/upload/v1595553170/origin/opportunities/Skeletons/dashboard_background.png) 35% #010101;
    background: linear-gradient(0deg,#010101 0,rgba(1,1,1,0) 25%),url(https://res.cloudinary.com/torre-technologies-co/image/upload/v1595553170/origin/opportunities/Skeletons/dashboard_background.png) 35% #010101;
    background-size: cover;
    min-height: 350px;
}

svg {
    width:15%;
    margin-top: 5rem;
}

#hex{
    stroke-width:3;
    stroke: #343a40;
}

.person-name {
    margin-bottom: 32px;
    margin-top: 12px;
    text-align: center; 
}

.md-headline {
    font-size: 24px;
    line-height: 32px;
}

.btn-torre {
    background-color: #383B40;
    color: #CDDC39;
}