
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <p class="dashboard">Mi tablero</p>
</nav>
<div class="dashboard-section justify-content-center text-center">
    <div *ngIf="persons" class="">
        <svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <pattern id="img" patternUnits="userSpaceOnUse" width="100" height="100">
                <image xlink:href="https://starrgate.s3.amazonaws.com/CACHE/images/users/be59e8849869e7f512e516cb284d050a6414eeb3/profile_rvb878c/f860ecc2f058c1736d72965ea9632846.jpg" x="-25" width="150" height="100" />
                </pattern>
            </defs>
            <polygon id="hex" points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img)"/>
        </svg>
        <div class="person-name md-headline">
            Hola, soy {{persons.person.name}} 
        </div>
        <div>
            {{persons.person.summaryOfBio}}
        </div>
        <div class="mt-3">
            <a href="https://bio.torre.co/es/{{persons.person.publicId}}" target="_blank" class="btn btn-torre">Ver Genoma</a>
        </div>
    </div>
</div>
