<div class="form-inline my-2 my-lg-0 justify-content-center">
    <input class="form-control mr-sm-2" [(ngModel)]="name" type="text" placeholder="Buscar personas..." (keyup.enter)="searchPeople(searchText.value)" #searchText>
</div>


<div *ngIf="persons">
  <div class="row row-cols-1 row-cols-md-3 m-5">
    <div class="col mb-4" *ngFor="let item of persons.results" (click)="getProfile(item.username)">
      <div class="card animated fadeIn">
        <img [src]="item.picture | noimage" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.professionalHeadline}}</p>
          <p class="card-text"><small class="text-muted">{{item.locationName}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>