<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="people">PERSONAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="jobs">EMPLEOS</a>
      </li>
    </ul>
  </div>
</div>
<div class="justify-content-center m-5">
  <router-outlet></router-outlet>
</div>