a {
    font-size: 1.2rem;
    color: #b4b4b6;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #CDDC39;
    background-color: #343a40;
    border-color: #343a40;
    border-bottom: 2px solid #CDDC39;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs :hover {
    border-color: #343a40;
}

.card {
    border: none;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(52 58 64);
    border-top: .2px solid #fff;
}

.form-control {
    background-color: #010101;
    border-radius: 1.25rem
}

.form-control:focus {
    color: #fff;
    border-color: #CDDC39;
    outline: 0;
    box-shadow: none;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #27292D;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header-2{
    color: #CDDC39;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(52 58 64);
    border-top: none;
}

.card-title, .card-text {
    color: #ffffffa6;
}


.card-boxes {
    background: none;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    color: hsla(0,0%,100%,.9);
    display: inline-block;
    height: 32px;
    line-height: 100%;
    margin-right: 6px;
    padding: 8px 16px;
}