<div class="form-inline my-2 my-lg-0 justify-content-center">
    <input class="form-control mr-sm-2" [(ngModel)]="name" type="text" placeholder="Buscar empleos..." (keyup.enter)="searchJobs(searchText.value)" #searchText>
</div>
<div *ngIf="oportunities">
  <div class="card m-5 text-center animated fadeIn" *ngFor="let item of oportunities.results" >
    <div class="card-header-2">
      {{item.organizations[0].name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{item.objective}}</h5>
      <p *ngFor="let skill of item.skills" class="card-boxes">{{skill.name}}</p>
    </div>
</div>
</div>

